.bg-custom {
    background-image: url('../../assets/bg.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar {
    transition: color 1s ease;
    font-size: larger;
}

.navbar:hover {
    color: yellow;
}

.footer-common {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 15px;
}


.parent {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 25px;
    justify-items: center;
}